.product {
  position: relative;
  border: 1px solid var(--border-color);
}

.product--in-cart {
  border-color: lightgreen;
}

.product__image-container {
  width: 100%;
  padding: 0;
  margin: 0 0 1rem;

  background: center no-repeat;
  background-size: contain;
}

.product__image-container:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 77%; /* 200 x 154 aspect ratio */
}

.product__quantity-in-cart {
  position: absolute;
  top: 0;
  left: 0;
  background: lightgreen;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}